body{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#up{
    display: flex;
}
article{
    background-color: rgb(197, 85, 160);
    text-align: center;
    width: 50%;
    height: 180px;
    align-items: center;
}
header{
background-color: rgb(246,226,222);
text-align: center;
height: 100px;
padding: 10px;
}
footer{
    background-color: rgb(246,226,222);
    text-align: center;
    height: 100px;
    padding: 10px;
    }
#dałn{
    display: flex;
    background-color: rgb(197, 85, 160);
    color: #FFF;
    height: 400px;
}
main{
    width: 50%;
}
aside{
    width: 50%;
}
#sugar{
    display: flex;
}
#order{
    padding-right: 70px;
    padding-bottom: 120px;
    font-size: 150%;
    text-decoration: none;
}
 table{
     border: 2px solid blue;
     margin: 20px;
    padding: 10px;

 }
 table td{
    border: 2px solid blue;
    margin: 20px;
    padding: 10px;

}
table th{
    border: 2px solid blue;
    margin: 20px;
    padding: 10px;
}
h2{
    font-size: 200%;
    letter-spacing: 10px;
}
